html {
    box-sizing: border-box;
}

body {
	background-color: darken(@BASE_COLOR, 10%);
	font-family: @fontRbt;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}