.row {
    font-size: 0;
}

.columns {
    display: inline-block;
    width: 100%;
}

.large-1 {
    max-width: @contentWidth/12;
}

.large-2 {
    max-width: @contentWidth/12*2;
}

.large-3 {
    max-width: @contentWidth/12*3;
}

.large-4 {
    max-width: @contentWidth/12*4;
}

.large-5 {
    max-width: @contentWidth/12*5;
}

.large-6 {
    max-width: @contentWidth/12*6;
}

.large-7 {
    max-width: @contentWidth/12*7;
}

.large-8 {
    max-width: @contentWidth/12*8;
}

.large-9 {
    max-width: @contentWidth/12*9;
}

.large-10 {
    max-width: @contentWidth/12*10;
}

.large-11 {
    max-width: @contentWidth/12*11;
}

.large-12 {
    max-width: @contentWidth;
}

@media @mobile {
    .small-1 {
        width: 100%/12 !important;
        max-width: 100%/12 !important;
    }

    .small-2 {
        width: 100%/12*2 !important;
        max-width: 100%/12*2 !important;
    }

    .small-3 {
        width: 100%/12*3 !important;
        max-width: 100%/12*3 !important;
    }

    .small-4 {
        width: 100%/12*4 !important;
        max-width: 100%/12*4 !important;
    }

    .small-5 {
        width: 100%/12*5 !important;
        max-width: 100%/12*5 !important;
    }

    .small-6 {
        width: 100%/12*6 !important;
<<<<<<< HEAD
        max-width: 100%/12*6 !important; 
=======
        max-width: 100%/12*6 !important;
>>>>>>> 2cd9296afd908732cd04a7d32c5f1ac77cea7b79
    }

    .small-7 {
        width: 100%/12*7 !important;
        max-width: 100%/12*7 !important;
    }

    .small-8 {
        width: 100%/12*8 !important;
        max-width: 100%/12*8 !important;
    }

    .small-9 {
        width: 100%/12*9 !important;
        max-width: 100%/12*9 !important;
    }

    .small-10 {
        width: 100%/12*10 !important;
        max-width: 100%/12*10 !important;
    }

    .small-11 {
        width: 100%/12*11 !important;
        max-width: 100%/12*11 !important;
    }

    .small-12 {
        width: 100%/1 !important;
        max-width: 100% !important; 
    }
}