// ширина письма
@mailWidth: 600px;
@mailPadding: 20px;
@contentWidth: @mailWidth - @mailPadding * 2;

// шрифты
@fFamily: @segoe;
@fSize: 16px;

// цвета
@color: #f5f5f5;
@mailBackgroundColor: #ffffff;