// цвета
@color: #dddddd;
@mailBackgroundColor: #ffffff;

// шрифты
@fFamily: 'Segoe UI', Arial, 'Helvetica Neue', Helvetica, sans-serif;
@fontRbt: 'Roboto', Arial, sans-serif;
@fontOS: 'Open Sans', Arial, sans-serif;
@fontOSC: 'Open Sans Condensed', Arial, sans-serif;
@fSize: 16px;

// ширина письма
@mailWidth: 600px;

